{% include '@vmin/layout/header.html.twig' %}
<div class="wr">
  {{ page.breadcrumb }}
  {{ page.highlighted }}
  {{ page.pre_content }}
</div>
<main class="wr">
  {{ page.content }}
</main>
{% include '@vmin/layout/footer.html.twig' %}
