.para-t-images .field[data-fn="p_title"] {
  text-align: center;
}
.para-t-images .field[data-fn="p_imgs"] img {
  width: 100%;
  height: auto;
}
.para-t-images[data-l="grid"] .field[data-fn="p_imgs"] {
  line-height: 0;
  display: grid;
  grid-gap: 20px 20px;
  grid-template-columns: repeat(auto-fill,minmax(140px,1fr));
}
