.para-t-text .field[data-fn="p_title"] {
  text-align: center;
}
@media screen and (min-width: 640px) {
  .para-t-text .field[data-fn="p_text"],
  .para-t-text .field[data-fn="p_title"] {
    width: 620px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1000px) {
  .para-t-text[data-l="single_l"] .field[data-fn="p_text"],
  .para-t-text[data-l="single_l"] .field[data-fn="p_title"],
  .para-t-text[data-l="single_l_1"] .field[data-fn="p_text"],
  .para-t-text[data-l="single_l_1"] .field[data-fn="p_title"] {
    margin: 0;
  }
  .para-t-text[data-l="single_r"] .field[data-fn="p_text"],
  .para-t-text[data-l="single_r"] .field[data-fn="p_title"],
  .para-t-text[data-l="single_r_1"] .field[data-fn="p_text"],
  .para-t-text[data-l="single_r_1"] .field[data-fn="p_title"] {
    margin-left: 320px;
  }
  .para-t-text[data-l="double"] .field[data-fn="p_text"],
  .para-t-text[data-l="double"] .field[data-fn="p_title"] {
    width: 100%;
  }
  .para-t-text[data-l="double"] .field[data-fn="p_text"] {
    column-count: 2;
    column-gap: 20px;
  }
  .para-t-text[data-l="double"] .field[data-fn="p_text"] p {
    padding: 0 0 0.5em;
  }
  .para-t-text[data-l="double"] .field[data-fn="p_text"] ul,
  .para-t-text[data-l="double"] .field[data-fn="p_text"] ol {
    padding-top: 0;
  }
}
@media screen and (min-width: 1320px) {
  .para-t-text[data-l="double"] .para-content {
    max-width: 1260px;
  }
  .para-t-text[data-l="single_r"] .field[data-fn="p_text"],
  .para-t-text[data-l="single_r"] .field[data-fn="p_title"],
  .para-t-text[data-l="single_r_1"] .field[data-fn="p_text"],
  .para-t-text[data-l="single_r_1"] .field[data-fn="p_title"] {
    margin-left: 640px;
  }
}
@media screen and (min-width: 1640px) {
  .para-t-text[data-l="single_l"] .field[data-fn="p_text"],
  .para-t-text[data-l="single_l"] .field[data-fn="p_title"] {
    margin-left: 160px;
  }
  .para-t-text[data-l="single_r"] .field[data-fn="p_text"],
  .para-t-text[data-l="single_r"] .field[data-fn="p_title"] {
    margin-left: 800px;
  }
  .para-t-text[data-l="single_r_1"] .field[data-fn="p_text"],
  .para-t-text[data-l="single_r_1"] .field[data-fn="p_title"] {
    margin-left: 960px;
  }
}
