{%
  set classes = [
    'para-t-' ~ paragraph.bundle|clean_class,
    view_mode ? 'para-v-' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'para-unpub'
  ]
%}
{{ attach_library('vmin/paragraph.images') }}
<div{{ attributes.addClass(classes).setAttribute('data-l', paragraph.field_p_imgs_layout.value) }}>
  {{ content.field_p_title }}
  <div class="para-content wr">{{ content|without('field_p_title') }}</div>
</div>
